body {
  
    background-image: url('./maxresdefault.jpg');
    background-repeat: no-repeat center center fixed; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover; 
}

.container {
margin-top: 100px;
height:600px;
width: 825px;
margin-left: 225px;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
